*{
font-family: Rubik Wet Paint;
}


.profile{
    border-radius: 5%;
}

img{
    width: 200px;
    border-radius: 100%;
}
body{
    background-color: black;
}
.profile{
    color: aqua;
}
*{
font-family: Arial;
}
.vildbiriz{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    background-color: rgb(0, 0, 0);
}
.vildbiriz img{
    width: 200px;
    height: auto;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
ul a{
    text-decoration: none;
    color:antiquewhite;
}
.cards{
    display: flex;
}