*{
font-family: Rubik Wet Paint;
}
.vildbiriz{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    background-color: rgb(0, 0, 0);
}
.vildbiriz img{
    width: 200px;
    height: auto;
}
.vildbiriz ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.vildbiriz ul a{
    text-decoration: none;
    color:antiquewhite;
}
.cards{
    display: flex;
}
.tovar img{
    width: 200px;
}
.tovar{
    border:  2px solid black;
}



.info{
    padding: 0 200px;
    display: flex;
    gap: 20px;
    margin-top: 100px;
}


.info img{
    width: 300px;
}
.info a{
    display: inline-block;
    padding: 10px 20px;
    background-color: aqua;
    color: black;
    text-decoration: none;
    align-items: center;
    margin: 25px 200px;
}


.com{
    background-color: aqua;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 200px;
    margin-top: 50px;
}
.com img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}